<launch>

  <!--Robot Description from URDF-->
  <param name= "robot_description" command= "$(find xacro)/xacro $(find sentrybot_description)/urdf/knightscope.urdf.xacro"/>
	
  <node name="rsp" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
  
  <!-- Node for publishing a picture into the monitor -->
  <group ns="knightscope">
  <node pkg="image_publisher" type="image_publisher" name="image_publisher"
        args="$(find sentrybot_description)/meshes/car.jpg" >
    <param name="flip_horizontal" value="false" />
    <param name="flip_vertical" value="false" />
    <param name="frame_id" value="my_camera" />
    <param name="publish_rate" value="1" />
    <param name="camera_info_url" value="file:///$(env HOME)/.ros/camera_info/camera.yaml" />   <!-- relative to ~/.ros/ -->
  </node>
  </group>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>
	
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model knightscope" output="screen"/>
</launch>
